<!DOCTYPE html>
<html lang="en-CA">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jean Kang's portfolio</title>
  <meta name="author" content="Jean Kang">
  <meta name="description" content="Portfolio for Jean, the future world-renowned engineer.">
  <link rel="icon" type="image/png" href="favicon72.png">
  <script src="https://kit.fontawesome.com/de2ce47132.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style.css">
  <script src="../main.js" defer></script>
</head>

<body>
  <!-- Navbar -->
  <nav id="navbar">
    <div class="navbar__logo">
      <img src="logo.png"></img>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__menu__item">Home</li>
      <li class="navbar__menu__item">Education</li>
      <li class="navbar__menu__item">Skills</li>
      <li class="navbar__menu__item">Projects</li>
      <li class="navbar__menu__item">Testimonials</li>
      <li class="navbar__menu__item">Contact</li>
    </ul>
  </nav>
  <!-- About -->
  <section id="about">
    <img src="about_web.png" alt="About me" class="about__image">
    {{!-- <img src="about_mobile.png" alt="About me" class="about__image"> --}}
  </section>
  <!-- Education -->
  <section id=" education">
    <h1>Education</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sunt sed laborum, blanditiis sequi mollitia
      adipisci dolorem, rerum magnam officia porro voluptate fuga molestiae recusandae eligendi iste voluptatem aut
      quam!</p>
    <div class="education__majors">
      <div class="major">
        <div class="major__icon"><img src="frontend.png" alt="Front-end"></div>
        <div class="major__title">Front-end</div>
        <div class="major__description">HTML, CSS, JavaScript<br>
          React, Vue
        </div>
      </div>
      <div class="major">
        <div class="major__icon"><img src="mobile.png" alt="Front-end"></div>
        <div class="major__title">Mobile</div>
        <div class="major__description"><br></div>
      </div>
      <div class="major">
        <div class="major__icon"><img src="backend.png" alt="Front-end"></div>
        <div class="major__title">Back-end</div>
        <div class="major__description">JavaScript, NodeJS, MongoDB, mySQL</div>
      </div>
    </div>
  </section>
  <!-- Skills -->
  <section id="skills">
    <h1>Skills</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, praesentium eos quasi iusto voluptatum fugiat
      voluptas ut at veritatis alias suscipit consectetur qui quibusdam quod sunt perferendis facere sit illum.
      Aliquid, recusandae laboriosam quia hic necessitatibus repudiandae illum tenetur perferendis nihil, beatae autem
      blanditiis velit deleniti a. Nisi hic animi sed aspernatur id amet accusamus iste, tempore, quisquam consequatur
      officia!
    </p>
    <div class="skillset">
      <div class="skillset__left">
        <h3 class="skillset__title">Skills</h3>
        <div class="skill">
          <div class="skill_description">
            <span>HTML</span>
            <span>80%</span>
          </div>
          <div class="skill_bar">
            <div class="skill__value"></div>
          </div>
        </div>
        <div class="skill">
          <div class="skill_description">
            <span>CSS</span>
            <span>60%</span>
          </div>
          <div class="skill_bar">
            <div class="skill__value"></div>
          </div>
        </div>
        <div class="skill">
          <div class="skill_description">
            <span>JAVASCRIPT</span>
            <span>60%</span>
          </div>
          <div class="skill_bar">
            <div class="skill__value"></div>
          </div>
        </div>
        <div class="skill">
          <div class="skill_description">
            <span>NODEJS</span>
            <span>60%</span>
          </div>
          <div class="skill_bar">
            <div class="skill__value"></div>
          </div>
        </div>
        <div class="skill">
          <div class="skill_description">
            <span>REACT</span>
            <span>20%</span>
          </div>
          <div class="skill_bar">
            <div class="skill__value"></div>
          </div>
        </div>
        <div class="skill">
          <div class="skill_description">
            <span>VUE</span>
            <span>0%</span>
          </div>
          <div class="skill_bar">
            <div class="skill__value"></div>
          </div>
        </div>
      </div>
      <div class="skillset__right">
        <div class="tools">
          <h3 class="skillset__title">Tools</h3>
          <ul class="tools__list">
            <li><span>Visual Studio Code</span></li>
            <li><span>MongoDB</span></li>
            <li><span>Github</span></li>
            <li><span>Heroku</span></li>
            <li><span>Adobe Programs</span></li>
          </ul>
        </div>
        <div class="etc">
          <h3 class="skillset__title">ETC</h3>
          <ul class="etc__list">
            <li><span>Brand Marketing Background</span></li>
            <li><span>Drawing, Painting, Ceramic</span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Projects -->
  <section id="projects">
    <h1>Projects</h1>
    <div class="projects__categories">
      <button class="category__btn">All<span class="category__count">2</span></button>
      <button class="category__btn">Front-end<span class="category__count">1</span></button>
      <button class="category__btn">Back-end<span class="category__count">1</span></button>
      {{!-- <button class="category__btn">mobile<span class="category__count">0</span></button> --}}
    </div>
    <div class="projects__detail">
      <a href="" class="project" target="blank">
        <img class="project__image" src="" alt="">
        <div class="project__description">
          <h3>Clothing Store</h3>
          <span>Description</span>
        </div>
      </a>
      <a href="" class="project" target="blank">
        <img class="project__image" src="" alt="">
        <div class="project__description">
          <h3>Clothing Store</h3>
          <span>Description</span>
        </div>
      </a>
      <a href="" class="project" target="blank">
        <img class="project__image" src="" alt="">
        <div class="project__description">
          <h3>Clothing Store</h3>
          <span>Description</span>
        </div>
      </a>
    </div>
  </section>
  <!-- Testimonials -->
  <section id="testimonials">
    <h1>Testimonials</h1>
    <h3>See what they say about me</h3>
    <div class="testimonials">
      <div class="testimonial">
        <img src="" alt="Person" class="testimonial__avatar">
        <div class="testimonial_speech-bubble">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum provident quidem aperiam nesciunt ratione
            deleniti voluptas fugit et, maiores saepe quos quo voluptatibus? Corrupti, dolorem magni veniam repudiandae
            error debitis?
            Consectetur temporibus soluta totam ipsum eius. Consequatur perferendis porro consequuntur minima esse.
            Optio tenetur incidunt aut beatae. Aliquid tempora, numquam aliquam placeat dolores dolor exercitationem
            totam accusamus voluptatum quae voluptatibus?
            Ut quos exercitationem tempora voluptate laboriosam inventore beatae tempore totam impedit obcaecati. Animi
            consequatur officia sequi? Quidem mollitia corporis cum, distinctio amet quasi harum non fugit ipsum aut
            possimus officia.</p>
          <p class="name"><a href="">Jacob</a>/Company</p>
        </div>
      </div>
      <div class="testimonial">
        <img src="" alt="Person" class="testimonial__avatar">
        <div class="testimonial_speech-bubble">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum provident quidem aperiam nesciunt ratione
            deleniti voluptas fugit et, maiores saepe quos quo voluptatibus? Corrupti, dolorem magni veniam repudiandae
            error debitis?
            Consectetur temporibus soluta totam ipsum eius. Consequatur perferendis porro consequuntur minima esse.
            Optio tenetur incidunt aut beatae. Aliquid tempora, numquam aliquam placeat dolores dolor exercitationem
            totam accusamus voluptatum quae voluptatibus?
            Ut quos exercitationem tempora voluptate laboriosam inventore beatae tempore totam impedit obcaecati. Animi
            consequatur officia sequi? Quidem mollitia corporis cum, distinctio amet quasi harum non fugit ipsum aut
            possimus officia.</p>
          <p class="name"><a href="">Jacob</a>/Company</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact -->
  <section id="contact"></section>
</body>

</html>