<!DOCTYPE html>
<html lang="en-CA">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jean Kang's portfolio</title>
  <meta name="author" content="Jean Kang">
  <meta name="description" content="Portfolio for Jean, the future world-renowned engineer.">
  <link rel="icon" type="image/png" href="favicon72.png">
  <script src="https://kit.fontawesome.com/de2ce47132.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="main.js" defer></script>
</head>

<body>
  <!-- Navbar -->
  <nav id="navbar">
    <div class="navbar__logo">
      <i class="fab fa-ceramic"></i>
      <a href="#">Jean-Kang</a>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__menu__item">Home</li>
      <li class="navbar__menu__item">Education</li>
      <li class="navbar__menu__item">Skills</li>
      <li class="navbar__menu__item">Projects</li>
      <li class="navbar__menu__item">Testimonials</li>
      <li class="navbar__menu__item">Contact</li>
    </ul>
  </nav>
  <!-- About -->
  <section id="about">
    <img src="about_web.png" alt="About me" class="about__image-web">
    <img src="about_mobile.png" alt="About me" class="about__image-mobile" style="display: none;">
  </section>
  <!-- Education -->
  <section id="education"></section>
  <!-- Skills -->
  <section id="skills"></section>
  <!-- Projects -->
  <section id="projects"></section>
  <!-- Testimonials -->
  <section id="testimonials"></section>
  <!-- Contact -->
  <section id="contact"></section>
</body>

</html>