<!DOCTYPE html>
<html lang="en-CA">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jean Kang's portfolio</title>
  <meta name="author" content="Jean Kang">
  <meta name="description" content="Portfolio for Jean, the future world-renowned engineer.">
  <link rel="icon" type="image/png" href="./images/favicon72.png">
  <script src="https://kit.fontawesome.com/de2ce47132.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style/style.css">
  <script src="./script/main.js" defer></script>
</head>

<body>
  <!-- music -->
  <audio autoplay>
    <source src="./music/amapola.mp3" type="audio/mpeg">
  </audio>

  <!-- Navbar -->
  <nav id="navbar">
    <div class="navbar__header">
      <!-- Toggle -->
      <div class="navbar__toggle" onclick="showHideMenu()">
        <img src="./images/toggle.png">
      </div>
      <!-- Logo -->
      <div class="navbar__logo">
        <a href="#"><img id="navbar__logo__image" src="./images/logo.png"></img></a>
      </div>
    </div>
    <!-- Menu -->
    <div id="navbar__menu">
      <ul class="navbar__menu">
        <li class="navbar__menu__item active" data-link="#about">About</li>
        <li class="navbar__menu__item" data-link="#skills">Skills</li>
        <li class="navbar__menu__item" data-link="#projects">Projects</li>
        <li class="navbar__menu__item" data-link="#testimonials">Testimonials</li>
        <li class="navbar__menu__item" data-link="#contact">Contact</li>
      </ul>
    </div>
  </nav>

  <!-- Home -->
  <section id="home">
    <a href="http://society6.com/orangesage" target="_blank">
      <div id="home__image"></div>
    </a>
  </section>

  <!-- About -->
  <section id="about" class="section">
    <div class="about__container">
      <h1>About</h1>
      <p class="tab">
        After working in Brand Marketing, I was involved in the launch of new products and developed advertising
        materials. I communicated often with IT department since I was in charge of digital marketing.
        As I progressed through my career, my passion for creating web materials which can attract lots of people began
        to grow. With this new direction, I took computer programming courses and immersed myself in it.
        I find myself happiest when writing code to build structures and features that I have imagined.<br><br>

        I would like to use my marketing background and interest in art to build applications that are not only
        functioning well,
        but also aesthetically pleasing and attractive to lots of users. <br><br>
      </p>
      <div class="about__majors">
        <div class="major">
          <div class="major__icon1"><img src="./images/language.png"
              onmouseover="this.src='./images/language_hover.png'" onmouseout="this.src='./images/language.png'"
              alt="Language"></div>
          <h3 class="major__title">Language</h3>
          <div class="major__description">HTML, CSS, JavaScript</div>
        </div>
        <div class="major">
          <div class="major__icon2"><img src="./images/framework.png"
              onmouseover="this.src='./images/framework_hover.png'" onmouseout="this.src='./images/framework.png'"
              alt="Framework"></div>
          <h3 class="major__title">Framework</h3>
          <div class="major__description">Node JS, React, Vue</div>
        </div>
        <div class="major">
          <div class="major__icon3"><img src="./images/db.png" onmouseover="this.src='./images/db_hover.png'"
              onmouseout="this.src='./images/db.png'" alt="Database"></div>
          <h3 class="major__title">Database</h3>
          <div class="major__description">MongoDB, MySQL</div>
        </div>
      </div>
    </div>
  </section>

  <!-- Skills -->
  <section id="skills" class="section">
    <div class="skills__container">
      <h1>Skills</h1>
      <div class="skillset">
        <div class="skillset__left">
          <h3 class="skillset__title">Skills</h3>
          <div class="skill1">
            <div class="skill__description">
              <span>HTML</span>
              <span>80%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value1" style="width: 80%"></div>
            </div>
          </div>
          <div class="skill2">
            <div class="skill__description">
              <span>CSS</span>
              <span>70%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value2" style="width: 70%;"></div>
            </div>
          </div>
          <div class="skill3">
            <div class="skill__description">
              <span>JAVASCRIPT</span>
              <span>70%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value3" style="width: 70%;"></div>
            </div>
          </div>
          <div class="skill4">
            <div class="skill__description">
              <span>NODEJS</span>
              <span>60%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value4" style="width: 60%;"></div>
            </div>
          </div>
          <div class="skill5">
            <div class="skill__description">
              <span>REACT</span>
              <span>60%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value5" style="width: 60%;"></div>
            </div>
          </div>
          {{!-- <div class="skill6">
            <div class="skill__description">
              <span>VUE</span>
              <span>0%</span>
            </div>
            <div class="skill__bar">
              <div class="skill__value6" style="width: 0%;"></div>
            </div>
          </div> --}}
        </div>
        <div class="skillset__right">
          <div class="tools">
            <h3 class="skillset__title">Tools</h3>
            <ul class="tools__list">
              <li><span>Visual Studio Code</span></li>
              <li><span>MongoDB</span></li>
              <li><span>Github</span></li>
              <li><span>Heroku</span></li>
              <li><span>Adobe Programs</span></li>
            </ul>
          </div>
          <div class="etc">
            <h3 class="skillset__title">Other</h3>
            <ul class="etc__list">
              <li><span>Brand Marketing</span></li>
              <li><a href="http://society6.com/orangesage" target="_blank"><span class="product__design">Product
                    Design</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Projects -->
  <section id="projects" class="section">
    <h1>Projects</h1>
    <div class="projects__slider">
      <div class="projects__slides">
        <input type="radio" name="radio-btn" id="radio1"></input>
        <input type="radio" name="radio-btn" id="radio2"></input>
        <div class="slide first">
          <a href="https://yuna-the-label.herokuapp.com/index" target="_blank"><img src="../images/project1.png"
              alt="yuna the label">
            <div class="slide__description">
              <h3>Yuna the label</h3>
              <span>A clothing brand Homepage</span>
              <span>Node.js, HTML, CSS, ES6, Heroku</span>
            </div>
          </a>
        </div>
        <div class="slide">
          <a href="https://ehbnb.herokuapp.com/" target="_blank"><img src="../images/project2.png" alt="ehbnb">
            <div class="slide__description">
              <h3>Ehbnb</h3>
              <span>A Canadian vacation rental online marketplace</span>
              <span>Node.js, HTML, CSS, ES6, MongoDB, Heroku</span>
            </div>
          </a>
        </div>
      </div>
      <div class="navigation-manual">
        <label for="radio1" class="navigation-manual__btn one"></label>
        <label for="radio2" class="navigation-manual__btn two"></label>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section id="testimonials" class="section">
    <h1>Testimonials</h1>
    <div class="testimonials__container">
      <div class="testimonials">
        <div class="testimonial">
          <a href="https://www.linkedin.com/in/jisoo-lee-a2454a83/"><img src="./images/testimonials/jisoo.jpg"
              alt="JISOO LEE" class="testimonial__avatar first"></a>
          <div class="testimonial__speech-bubble">
            <p>
              I recommended her to choose computer engineering since I knew it would be her best
              career considering her talent and personality.<br><br>

              She has a marketing background and she has a passion for making good applications and content
              to attract customers because of her previous job. She wanted to learn how to design and build
              applications from scratch.<br><br>

              I knew she is a good self-learner, keen to details, and she has a very good sense of art so I thought
              front-end would be her perfect choice. Adapting in a new country and diving into a new major must have not
              been easy but she has been studying constantly with a passion, asking for feedback to write cleaner codes
              at times.<br><br>

              It seems like she can be very obsessed with how to make the website looks better and how to
              improve her code when needed, and I think it is one of the best attitudes as a developer.<br><br>

              I was also surprised that all the icons and images on her portfolio are self-made by her. She has such a
              great passion and talent. Thus I highly recommend her for a front-end position.
            </p>
            <p class="name"><a href="https://www.linkedin.com/in/jisoo-lee-a2454a83/">JISOO LEE, Software
                Developer</a><span class="bar"> | </span>IBM</p>
          </div>
        </div>
        {{!-- <div class="testimonial">
          <div class="testimonial__speech-bubble">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum provident quidem
              aperiam nesciunt ratione deleniti voluptas fugit et, maiores saepe quos quo voluptatibus?
              Corrupti, dolorem magni veniam repudiandae error debitis? consequatur officia sequi? </p>
            <p class="name"><a href="">Ms. Rabbit</a><span class="bar"> | </span>Company</p>
          </div>
          <a href=""><img src="./images/testimonials/msrabbit.jpg" alt="ms.rabbit"
              class="testimonial__avatar second"></a>
        </div> --}}
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact" class="section">
    <h1 class="contact__title">Contact</h1>
    <div class="contact__links">
      <div class="contact__icon1">
        <a href="https://www.linkedin.com/in/jeankangdev/" target="blank"><img src="./images/vase_light_1.png"
            alt=" "></a>
        <div class="contact__description">Linkedin</div>
      </div>
      <div class="contact__icon2">
        <a href="https://github.com/jeankangdev" target="blank"><img src="./images/vase_light_2.png" alt=" "></a>
        <div class="contact__description">Github</div>
      </div>
      <div class="contact__icon3">
        <a href="mailto:jeankang.dev@gmail.com" target="blank"><img src="./images/vase_light_3.png" alt=" "></a>
        <div class="contact__description">Email</div>
      </div>
    </div>
    <div class="contact__rights">2020 <span class="jean">Jean-Kang</span> Portfolio · Built by <span class="jean">JEAN
        KANG</span></div>
  </section>

  <!-- Arrow up -->
  <button class="arrow-up">
    <i class="fas fa-chevron-up" data-link="#navbar"></i>
  </button>
</body>

</html>