/* Global */
:root {
  /* Color */
  --color-navy: #2b3072;
  --color-sky: #c2dbf2;
  /* --color-light-sky: #f5ffff; */
  --color-light-grey: #f9f9f9;
  --color-grey: #c9cbdb;
  --color-yellow: #eed672;
  --color-brown: #995d30;

  /* Font size */
  --font-large: 24px;
  --font-medium: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* animation */
  --animation-duration: 300ms;
}

/* Typography */
h1 {
  font-family: "minion pro", sans-serif;
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

/* Universal tags */
* {
  font-family: "Rubik", sans-serif;
  color: var(--color-navy);
  line-height: 1.5em;
  box-sizing: border-box;
}

html {
  display: flex;
}

body {
  margin: auto;
  cursor: default;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Section common */
.section {
  text-align: center;
  padding: 50px 50px 50px 50px;
  margin: auto;
}

.section__container {
  max-width: 800px;
  margin: auto;
}

/* Navbar */
#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar__logo__image {
  width: 170px;
  margin: 30px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  font-family: "minion pro", sans-serif;
  padding: 0px 30px;
  margin: 0 4px;
  cursor: pointer;
}
/* 

Option 1. Using HTML + CSS
.navbar__menu__item.active {
  text-decoration: underline;
  text-underline-position: under;
}

/* Option 2. Using CSS */
.navbar__menu__item:hover {
  text-decoration: underline solid var(--color-navy) 1.8px;
  text-underline-position: under;
}

/* Home */
/* Switch img depends on the window size */
#home__image {
  background: center/cover no-repeat url("../images/home_web.png");
  max-width: 100%;
  height: 700px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  max-width: 700px;
  margin: auto;
  justify-content: space-between;
  padding: 50px 0;
}

/* Option 1 */
/* Switch icons on mouse hover => too slow */
/* CSS */
/* .major__icon1 img:hover {
  content: url("../images/language_hover.png");
}

.major__icon2 img:hover {
  content: url("../images/framework_hover.png");
}

.major__icon3 img:hover {
  content: url("../images/db_hover.png");
} */

.major__title {
  padding: 10px;
}

.major__description {
  max-width: 150px;
  font-size: 0.8em;
}

/* Skills */
#skills {
  background-color: var(--color-sky);
  font-size: var(--font-small);
}

.skillset {
  display: flex;
  margin-top: 50px;
  background-color: white;
}

.skillset__left {
  flex-basis: 60%;
  padding: 20px 40px;
}

.skillset__right {
  flex-basis: 40%;
  padding-top: 20px;
}

.skillset__right .tools {
  height: 60%;
}

.skillset__right .etc {
  height: 40%;
}

.skillset__title {
  padding-bottom: 18px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
  padding-bottom: 8px;
}

.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6 {
  margin: 8px;
}

.skill__bar {
  width: 100%;
  height: 4px;
  background-color: var(--color-grey);
}

.skill__value1,
.skill__value2,
.skill__value3,
.skill__value4,
.skill__value5,
.skill__value6 {
  height: 4px;
  background-color: orange;
}

.skill1:hover .skill__value1 {
  animation: improving1 2s ease-in-out forwards;
}

.skill2:hover .skill__value2 {
  animation: improving2 2s ease-in-out forwards;
}

.skill3:hover .skill__value3 {
  animation: improving3 2s ease-in-out forwards;
}

.skill4:hover .skill__value4 {
  animation: improving4 2s ease-in-out forwards;
}

.skill5:hover .skill__value5 {
  animation: improving5 2s ease-in-out forwards;
}

.skill6:hover .skill__value6 {
  animation: improving6 2s ease-in-out forwards;
}

@keyframes improving1 {
  50% {
    width: 88%;
    background: var(--color-yellow);
  }

  100% {
  }
}

@keyframes improving2 {
  50% {
    width: 68%;
    background: var(--color-yellow);
  }

  100% {
  }
}

@keyframes improving3 {
  50% {
    width: 78%;
    background: var(--color-yellow);
  }

  100% {
  }
}

@keyframes improving4 {
  50% {
    width: 68%;
    background: var(--color-yellow);
  }

  100% {
  }
}

@keyframes improving5 {
  50% {
    width: 28%;
    background: var(--color-yellow);
  }

  100% {
  }
}

@keyframes improving6 {
  50% {
    width: 8%;
    background: var(--color-yellow);
  }

  100% {
  }
}

/* Contact */
.contact__links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 300px;
  margin: auto;
}

[class^="contact__icon"] img {
  max-width: 50px;
}

[class^="contact__icon"]:hover img {
  transform: rotate(-10deg);
}

.contact__links {
  font-size: var(--font-micro);
}

.contact__description {
  color: white;
}

[class^="contact__icon"]:hover .contact__description {
  color: #995d30;
}

.contact__rights {
  padding: 40px 0 0 0;
  font-size: var(--font-micro);
}

/* Responsive Design */
/* iPad Pro */
@media screen and (max-width: 1024px) {
  #home__image {
    height: 60vw;
    margin: auto;
  }
}

/* iPad */
@media screen and (max-width: 770px) {
  #navbar__logo__image {
    width: 120px;
    margin: 20px;
  }

  .navbar__menu__item {
    padding: 0 14px;
    margin: 0;
    font-size: 14px;
  }

  #home__image {
    background: top/cover no-repeat url("../images/home_mobile.png");
    max-width: 100%;
    height: 180vw;
    margin: auto;
  }

  .skillset__left {
    flex-basis: 60%;
    padding: 20px 20px;
  }

  .skill__description span,
  .tools__list,
  .etc__list {
    font-size: var(--font-micro);
  }

  .skill__bar,
  .skill__value1,
  .skill__value2,
  .skill__value3,
  .skill__value4,
  .skill__value5,
  .skill__value5 {
    height: 3px;
  }

  @keyframes improving1 {
    50% {
      height: 3px;
      width: 88%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  @keyframes improving2 {
    50% {
      height: 3px;
      width: 68%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  @keyframes improving3 {
    50% {
      height: 3px;
      width: 78%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  @keyframes improving4 {
    50% {
      height: 3px;
      width: 68%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  @keyframes improving5 {
    50% {
      height: 3px;
      width: 28%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  @keyframes improving6 {
    50% {
      height: 3px;
      width: 8%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }
}

/* iPhone */
@media screen and (max-width: 414px) {
  h1 {
    font-size: var(--font-medium);
  }

  h3 {
    font-size: var(--font-regular);
    margin: 0;
  }

  p {
    font-size: var(--font-small);
  }

  #navbar__logo__image {
    width: 110px;
    margin: 15px;
  }

  .navbar__menu__item {
    padding: 0px 9px;
    font-size: 12px;
  }

  #home__image {
    height: 110vh;
  }
}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
  #navbar__logo__image {
    width: 90px;
    margin: 16px;
  }

  .navbar__menu__item {
    padding: 0px 6px;
    font-size: 10px;
  }
}
