/* Global */
:root {
  /* Color */
  --color-navy: #2b3072;
  --color-blue: #6d95c2;
  --color-sky: #c2dbf2;
  --color-light-grey: #f9f9f9;
  --color-grey: #c9cbdb;
  --color-yellow: #eed672;

  /* Font size */
  --font-large: 24px;
  --font-medium: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;
  --font-micro-micro: 10px;

  /* Font weight */
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 300ms;
}

/* Typography */
h1 {
  font-family: "minion pro", sans-serif;
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

/* Universal tags */
* {
  font-family: "Rubik", sans-serif;
  color: var(--color-navy);
  line-height: 1.5em;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  display: flex;
}

body {
  margin: auto;
  cursor: default;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Section common */
.section {
  text-align: center;
  padding: 50px 50px 50px 50px;
  margin: auto;
}

/* Navbar */
#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
}

.navbar__toggle img {
  width: 32px;
  height: 74px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 30px;
  cursor: pointer;
  position: fixed;
}

#navbar__logo__image {
  width: 170px;
  margin: 30px;
}

#navbar__menu {
  background: var(--color-navy);
  width: 100%;
  z-index: 1;
}

.navbar__menu {
  display: flex;
  margin: auto;
}

.navbar__menu__item {
  display: flex;
  align-items: center;
  height: 28px;
  font-family: "minion pro", sans-serif;
  font-size: var(--font-medium);
  transform: scale(1.04, 1.02);
  padding: 0px 30px;
  margin: auto;
  cursor: pointer;
  color: white;
  transition: opacity 300ms ease-in-out;
}

.menu__transform {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 10px;
  width: 96px;
  background: navy;
  opacity: 0.8;
}

.menu__item__transform {
  height: 18px;
  margin-left: -13px;
  font-size: var(--font-micro);
}

.menu__item__transform:first-child {
  height: 20px;
}

.menu__item__transform:last-child {
  height: 20px;
  align-items: flex-start;
}

/*
Option 1. Using HTML + CSS
.navbar__menu__item.active {
  text-decoration: underline;
  text-underline-position: under;
}

Option 2. Using CSS */
.navbar__menu__item:hover {
  text-decoration: underline solid var(--color-navy) 1px;
  text-shadow: 0.05px 0.05px white;
  text-underline-position: under;
}

/* Home */
/* Switch img depends on the window size */
#home__image {
  background: center/cover no-repeat url("../images/home_web.png");
  max-width: 100%;
  height: 600px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  max-width: 700px;
  margin: auto;
  justify-content: space-between;
  padding: 50px 0;
}

/* Option 1 */
/* Switch icons on mouse hover => too slow */
/* CSS */
/* .major__icon1 img:hover {
  content: url("../images/language_hover.png");
}

.major__icon2 img:hover {
  content: url("../images/framework_hover.png");
}

.major__icon3 img:hover {
  content: url("../images/db_hover.png");
} */

/* About - major */
.major__title {
  padding: 10px;
}

.major__description {
  max-width: 150px;
  font-size: 0.8em;
  background-color: var(--color-navy);
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 2%,
    var(--color-blue) 2%,
    var(--color-blue) 5%,
    transparent 5%,
    transparent 100%
  );
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 1.8s;
}

.major__description:hover {
  background-position: -120% 0%;
}

/* Skills */
#skills {
  background-color: var(--color-sky);
  font-size: var(--font-small);
}

.skills__container {
  max-width: 800px;
  margin: auto;
}

.skillset {
  display: flex;
  margin-top: 50px;
  background-color: white;
}

.skillset__left {
  flex-basis: 60%;
  padding: 20px 60px;
}

.skillset__right {
  flex-basis: 40%;
  padding-top: 20px;
  margin-left: -18px;
}

.skillset__title {
  padding-bottom: 12px;
}

.tools .skillset__title {
  margin-bottom: 2px;
}

.etc {
  margin-top: -12px;
}

.skillset__right .tools {
  height: 60%;
}

.skillset__right .etc {
  height: 40%;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
  padding-bottom: 8px;
}

.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6 {
  margin: 8px;
}

.skill__bar {
  width: 100%;
  height: 4px;
  background-color: var(--color-grey);
}

.skill__value1,
.skill__value2,
.skill__value3,
.skill__value4,
.skill__value5,
.skill__value6 {
  height: 4px;
  background-color: orange;
}

.skill1:hover .skill__value1 {
  animation: improving1 2s ease-in-out forwards;
}

.skill2:hover .skill__value2 {
  animation: improving2 2s ease-in-out forwards;
}

.skill3:hover .skill__value3 {
  animation: improving3 2s ease-in-out forwards;
}

.skill4:hover .skill__value4 {
  animation: improving4 2s ease-in-out forwards;
}

.skill5:hover .skill__value5 {
  animation: improving5 2s ease-in-out forwards;
}

.skill6:hover .skill__value6 {
  animation: improving6 2s ease-in-out forwards;
}

@keyframes improving1 {
  50% {
    width: 88%;
    background: var(--color-yellow);
  }

  100% {
  }
}

@keyframes improving2 {
  50% {
    width: 68%;
    background: var(--color-yellow);
  }

  100% {
  }
}

@keyframes improving3 {
  50% {
    width: 78%;
    background: var(--color-yellow);
  }

  100% {
  }
}

@keyframes improving4 {
  50% {
    width: 68%;
    background: var(--color-yellow);
  }

  100% {
  }
}

@keyframes improving5 {
  50% {
    width: 28%;
    background: var(--color-yellow);
  }

  100% {
  }
}

@keyframes improving6 {
  50% {
    width: 8%;
    background: var(--color-yellow);
  }

  100% {
  }
}

.product__design,
.interior__design {
  background-color: var(--color-navy);
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 2%,
    var(--color-blue) 2%,
    var(--color-blue) 5%,
    transparent 5%,
    transparent 100%
  );
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 1.8s;
}

.product__design:hover,
.interior__design:hover {
  background-position: -120% 0%;
}

/* Projects */
.projects {
  display: flex;
}

.projects__slider {
  width: 800px;
  overflow: hidden;
  margin: auto;
}

.projects__slides {
  width: 200%;
  display: flex;
  margin: 16px 0;
}

.slide {
  width: 50%;
  height: 100%;
  transition: 1s;
  position: relative;
}

.slide img {
  display: flex;
  width: 100%;
}

.slide__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.slide__description h3,
.slide__description span {
  color: white;
  text-shadow: 0.3px 0.3px var(--color-navy);
}

.slide__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 47%;
  width: 50px;
  height: 2px;
  background-color: red;
  margin: 8px 0;
}

.slide:hover .slide__description {
  background: var(--color-navy);
  opacity: 0.6;
  transition: 1s;
  cursor: pointer;
}

.projects__slides input {
  display: none;
}

/* Navigation manual */
.navigation-manual {
  display: flex;
  position: relative;
  width: 100%;
  top: -50px;
  left: 30px;
}

.navigation-manual__btn {
  border: 2px solid transparent;
  background: var(--color-navy);
  width: 8px;
  height: 8px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  transition: var(--animation-duration);
}

.navigation-manual__btn:not(:last-child) {
  margin-right: 16px;
}

.navigation-manual__btn:hover {
  border: 2px solid var(--color-navy);
  background: transparent;
  width: 11px;
  height: 11px;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -50%;
}

/* Testimonials */
#testimonials {
  background-color: var(--color-sky);
}

.testimonials__container {
  max-width: 800px;
  margin: auto;
}

.testimonials {
  margin-top: 40px;
}

.testimonial {
  display: flex;
  margin: 0 8px;
}

.testimonial:not(:last-child) {
  margin-bottom: 50px;
}

.testimonial__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 18px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 18px;
}

.testimonial__speech-bubble {
  padding: 0 9px;
  background-color: white;
}

.testimonial__speech-bubble .name,
.testimonial__speech-bubble a {
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
}

.bar {
  color: red;
  margin: 0 4px;
}

/* Contact */
.contact__links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 300px;
  margin: auto;
}

[class^="contact__icon"] img {
  max-width: 50px;
}

[class^="contact__icon"]:hover img {
  transform: rotate(-10deg);
}

.contact__links {
  font-size: var(--font-micro);
}

.contact__description {
  color: white;
}

[class^="contact__icon"]:hover .contact__description {
  color: var(--color-navy);
}

.contact__rights {
  padding: 40px 0 0 0;
  font-size: var(--font-micro);
}

/* Jean */
.contact__rights span {
  background-color: var(--color-navy);
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 2%,
    var(--color-blue) 2%,
    var(--color-blue) 5%,
    transparent 5%,
    transparent 100%
  );
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 1.8s;
}

.contact__rights:hover span.jean {
  background-position: -120% 0%;
}

/* Arrow up */
.arrow-up {
  position: fixed;
  font-size: 20px;
  bottom: 50px;
  right: 30px;
  background: transparent;
  border: transparent;
  outline: none;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  cursor: pointer;
}

/* Responsive */
/* iPad */
@media screen and (max-width: 768px) {
  .section {
    padding: 20px 20px 50px 20px;
  }

  /* 768 Nav */
  .navbar__toggle img {
    width: 24px;
    height: 58px;
    margin: 8px 20px;
    cursor: pointer;
  }

  #navbar__logo__image {
    width: 120px;
    margin: 20px;
  }

  .navbar__menu__item {
    height: 24px;
    font-size: var(--font-small);
  }

  .menu__transform {
    left: 6px;
    width: 86px;
  }

  .menu__item__transform {
    height: 18px;
    font-size: var(--font-micro);
    margin-left: -18px;
  }

  /* 768 Home */
  #home__image {
    background: top/cover no-repeat url("../images/home_mobile.png");
    max-width: 80%;
    height: 700px;
    margin: auto;
  }

  /* 768 About */
  .about__container p {
    max-width: 400px;
    margin: auto;
  }

  .about__majors {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: var(--font-small);
  }

  .major {
    margin: auto;
  }

  [class^="major__icon"] img {
    width: 60%;
  }

  /* 768 Skills */
  .skills__container {
    max-width: 400px;
  }

  .skills__container p {
    max-width: 400px;
    margin: auto;
  }

  .skillset {
    flex-direction: column;
  }

  .skillset__left {
    flex-basis: 0%;
    padding: 20px;
  }

  .skillset__right {
    display: flex;
    flex-basis: 0%;
    justify-content: space-around;
    padding: 20px 0px;
    margin: -30px 0 0 0;
  }

  .tools,
  .etc {
    padding: 10px;
    margin: 0;
  }

  .skill__description span,
  .tools__list,
  .etc__list {
    font-size: var(--font-micro);
  }

  .skill__bar,
  .skill__value1,
  .skill__value2,
  .skill__value3,
  .skill__value4,
  .skill__value5,
  .skill__value5 {
    height: 3px;
  }

  @keyframes improving1 {
    50% {
      height: 3px;
      width: 88%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  @keyframes improving2 {
    50% {
      height: 3px;
      width: 68%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  @keyframes improving3 {
    50% {
      height: 3px;
      width: 78%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  @keyframes improving4 {
    50% {
      height: 3px;
      width: 68%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  @keyframes improving5 {
    50% {
      height: 3px;
      width: 28%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  @keyframes improving6 {
    50% {
      height: 3px;
      width: 8%;
      background: var(--color-yellow);
    }

    100% {
      height: 3px;
    }
  }

  /* 768 Projects */
  .projects__slider {
    max-width: 500px;
    width: 100%;
  }

  .slide {
    height: 72%;
  }

  .navigation-manual {
    top: -40px;
    left: 20px;
  }

  /* 768 Testimonials */
  .testimonials__container p {
    max-width: 600px;
    font-size: var(--font-small);
  }

  .testimonial__avatar {
    width: 70px;
    height: 70px;
  }

  .testimonial__avatar:nth-child(odd) {
    margin-right: 8px;
  }

  .testimonial__avatar:nth-child(even) {
    margin-left: 8px;
  }

  .testimonial:not(:last-child) {
    margin-bottom: 18px;
  }

  /* 768 Arrow up */
  .arrow-up {
    font-size: 16px;
    right: 20px;
  }
}

/* iPhone */
@media screen and (max-width: 414px) {
  h1 {
    font-size: var(--font-medium);
  }

  h3 {
    font-size: var(--font-regular);
    margin: 0;
  }

  p {
    font-size: var(--font-small);
  }

  .about__container p,
  .skills__container p,
  .testimonials__container p {
    max-width: 300px;
    font-size: var(--font-small);
  }

  .contact__rights {
    font-size: var(--font-micro-micro);
  }

  .navbar__toggle img {
    margin: 3px 10px;
  }

  #navbar__logo__image {
    width: 110px;
    margin: 15px;
  }

  .navbar__menu__item {
    font-size: var(--font-micro);
    padding: 0px 9px;
  }

  .menu__transform {
    left: 4px;
    width: 68px;
  }

  .menu__item__transform {
    font-size: var(--font-micro-micro);
    margin-left: 0px;
  }

  #home__image {
    max-width: 100%;
    margin: auto;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 10px;
  }

  .major__icon2 img {
    margin-bottom: -20px;
  }

  .major__icon3 img {
    margin-top: 10px;
    margin-bottom: -20px;
  }

  .projects__slider {
    max-width: 400px;
  }
}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
  h1 {
    font-size: var(--font-regular);
  }

  h3 {
    font-size: var(--font-small);
    margin: 0;
  }

  p {
    font-size: var(--font-micro);
  }

  .section {
    padding: 18px 0px;
  }

  .about__container p,
  .skills__container p {
    max-width: 240px;
  }

  .testimonial:not(:last-child) {
    margin-bottom: 18px;
  }

  .testimonial__speech-bubble p {
    font-size: var(--font-micro);
  }

  #navbar__logo__image {
    width: 90px;
    margin: 16px;
  }

  .navbar__menu__item {
    padding: 0px 6px;
    font-size: var(--font-micro-micro);
  }

  #home__image {
    width: 100%;
    height: 520px;
  }

  .skillset__right {
    display: flex;
    justify-content: space-around;
  }

  section#skills.section {
    padding: 20px;
  }

  [class^="contact__icon"] img {
    max-width: 40px;
  }
  .contact__links {
    max-width: 200px;
  }
}
